html {
	font-size: 10px; /* comment */
	font-family: 'Indie Flower', cursive;
	background-color: #E9F49E;
}

h1 {
	font-size: 60px;
	text-align: center;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spscing: 1px;
}

img {
	display:block;
	margin: 0 auto;
	width: 200px;
}

body {
	width: 600px;
	margin: 0 auto;
	background-color: #F2F8C7;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}

h1 {
	margin: 0;
	padding: 20px o;
	color: #00539F;
	text-shadow: 3px 3px 1px black;
}
